/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){

}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){

}
