<div class="nav-wrapper">
  <!-- Brand Logo Section -->
  <div class="brand-wrapper">
    <div class="inner-brand-wrapper">
      <img src="/assets/img/logo.png" alt="brand logo" class="logo">
      <span class="brand-title">Brian Chen</span>
    </div>
  </div><!-- End of brand logo -->
  <!-- Menu Section -->
  <div class="menu-wrapper">
    <span class="menu-text">Menu</span>
    <ul class="menu">
      <!-- Profile -->
      <li class="menu-item">
        <a class="menu-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <fa-icon class="menu-icon"[icon]="['fa', 'user']"></fa-icon>
          <span class="menu-title">Profile</span>
        </a>
      </li>
      <!-- Roles -->
      <li class="menu-item">
        <a class="menu-link" routerLink="/roles" routerLinkActive="active">
          <fa-icon class="menu-icon"[icon]="['fa', 'user-tie']"></fa-icon>
          <span class="menu-title">Roles</span>
        </a>
      </li>
      <!-- Reel -->
      <li class="menu-item">
        <a class="menu-link" routerLinkActive="active" routerLink="/reels">
          <fa-icon class="menu-icon"[icon]="['fa', 'film']"></fa-icon>
          <span class="menu-title">Reel</span>
        </a>
      </li>
      <!-- Videos -->
      <li class="menu-item">
        <a class="menu-link" routerLinkActive="active" routerLink="/videos">
          <fa-icon class="menu-icon"[icon]="['fa', 'video']"></fa-icon>
          <span class="menu-title">Videos</span>
        </a>
      </li>
      <!-- Articles -->
      <li class="menu-item">
        <a class="menu-link" routerLinkActive="active" routerLink="/articles">
          <fa-icon class="menu-icon"[icon]="['fa', 'pen-fancy']"></fa-icon>
          <span class="menu-title">Articles</span>
        </a>
      </li>
    </ul>
  </div><!-- End of menu section -->
</div>
