@import '../shared/color.scss';
:host {
  background: linear-gradient(to bottom, $gradientFrom, $gradientTo);
  min-height: 100vh;
  width: 200px;
  z-index: 10;
}
.nav-wrapper {
  padding: 15px 20px;
  box-sizing: border-box;
}
/*** Brand logo ***/
.inner-brand-wrapper {
  display: flex;
  .logo {
    width: 30px;
    height: 30px;
    margin: auto 0;
    margin-left: -5px;
    margin-right: 5px;
  }
  .brand-title {
    margin: auto 0;
    font-size: 1.4rem;
    color: $lightMainColor;
  }
}
/*** Menu wrapper ***/
.menu-wrapper {
  margin-top: 2rem;
  color: $white;
  .menu-text {
    font-size: 1.2rem;
    color: $lightMainColor;
  }
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  .menu-item {
    margin: 20px 0;
    .menu-link {
      color: $lightMainColor;
      font-size: 1.4rem;
      text-decoration: none;
      cursor: pointer;
      opacity: .4;
      &.active {
        opacity: 1;
        color: $white;
      }
      &:hover {
        opacity: 1;
      }
    }
    .menu-link .menu-title {
      margin-left: 20px;
    }
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape) {

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape) {
  .menu-wrapper {
    .menu-text {
      font-size: 1rem;
    }
  }
  .menu {
    .menu-item {
      .menu-link {
        font-size: 1.2rem;
      }
      .menu-link .menu-title {
        margin-left: 15px;
      }
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  :host {
    width: 80px;
  }
  .inner-brand-wrapper {
    .logo {
      width: 40px;
      height: 40px;
    }
    .brand-title {
      display: none;
    }
  }
  .menu-wrapper {
    text-align: center;
    .menu-text {
      font-size: 14px;
    }
  }
  .menu {
    .menu-item {
      margin: 25px 0;
      .menu-link {
        font-size: 1.2rem;
        text-align: center;
        display: inline-block;
      }
      .menu-link .menu-title {
        margin-left: 0;
        margin-top: 3px;
        display: block;
        font-size: 0.8rem;
      }
    }
  }

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  :host {
    width: 80px;
    transition: margin .35s ease-in-out;
    margin-left: 0;
    &.nav-down {
      margin-left: -80px;
    }
  }
  .inner-brand-wrapper {
    .logo {
      width: 40px;
      height: 40px;
    }
    .brand-title {
      display: none;
    }
  }
  .menu-wrapper {
    text-align: center;
    .menu-text {
      font-size: 14px;
    }
  }
  .menu {
    .menu-item {
      margin: 25px 0;
      .menu-link {
        font-size: 1.2rem;
        text-align: center;
        display: inline-block;
      }
      .menu-link .menu-title {
        margin-left: 0;
        margin-top: 3px;
        display: block;
        font-size: 0.8rem;
      }
    }
  }

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape) {
  :host {
    width: 80px;
    transition: margin .35s ease-in-out;
    margin-left: 0;
    &.nav-down {
      margin-left: -80px;
    }
  }
  .inner-brand-wrapper {
    .logo {
      width: 40px;
      height: 40px;
    }
    .brand-title {
      display: none;
    }
  }
  .menu-wrapper {
    text-align: center;
    .menu-text {
      font-size: 14px;
    }
  }
  .menu {
    .menu-item {
      margin: 25px 0;
      .menu-link {
        font-size: 1.2rem;
        text-align: center;
        display: inline-block;
      }
      .menu-link .menu-title {
        margin-left: 0;
        margin-top: 3px;
        display: block;
        font-size: 0.8rem;
      }
    }
  }

}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait) {

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait) {
  :host {
    width: 80px;
  }
  .inner-brand-wrapper {
    .logo {
      width: 40px;
      height: 40px;
    }
    .brand-title {
      display: none;
    }
  }
  .menu-wrapper {
    text-align: center;
    .menu-text {
      font-size: 14px;
    }
  }
  .menu {
    .menu-item {
      margin: 25px 0;
      .menu-link {
        font-size: 1.2rem;
        text-align: center;
        display: inline-block;
      }
      .menu-link .menu-title {
        margin-left: 0;
        margin-top: 3px;
        display: block;
        font-size: 0.8rem;
      }
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  :host {
    width: 80px;
  }
  .inner-brand-wrapper {
    .logo {
      width: 40px;
      height: 40px;
    }
    .brand-title {
      display: none;
    }
  }
  .menu-wrapper {
    text-align: center;
    .menu-text {
      font-size: 14px;
    }
  }
  .menu {
    .menu-item {
      margin: 25px 0;
      .menu-link {
        font-size: 1.2rem;
        text-align: center;
        display: inline-block;
      }
      .menu-link .menu-title {
        margin-left: 0;
        margin-top: 3px;
        display: block;
        font-size: 0.8rem;
      }
    }
  }

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait) {
  :host {
    position: fixed;
    bottom: 0;
    min-height: unset;
    height: 60px;
    height: 12vh;
    max-height: 60px;
    width: 100%;
    margin-bottom: 0;
    transition: margin .2s ease-in-out;
    &.nav-down {
      margin-bottom: -100%;
    }
  }
  .nav-wrapper {
    display: flex;
    padding: 10px;
    .brand-wrapper {
      display: none;
    }
    .menu-wrapper {
      flex: 1;
    }
  }
  .menu-wrapper {
    margin-top: 0;
    .menu-text {
      display: none;
    }
  }
  .menu {
    margin: auto 0;
    display: flex;
    justify-content: space-around;
    .menu-item {
      margin: auto 5px;
      text-align: center;
      .menu-link {
        font-size: 1.4rem;
        .menu-title {
          font-size: 12px;
          margin: 0;
          margin-top: 2px;
          display: block;
        }
      }
    }
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait) {
  :host {
    position: fixed;
    bottom: 0;
    min-height: unset;
    height: 60px;
    height: 12vh;
    max-height: 60px;
    width: 100%;
    margin-bottom: 0;
    transition: margin .2s ease-in-out;
    &.nav-down {
      margin-bottom: -100%;
    }
  }
  .nav-wrapper {
    display: flex;
    padding: 10px;
    .brand-wrapper {
      display: none;
    }
    .menu-wrapper {
      flex: 1;
    }
  }
  .menu-wrapper {
    margin-top: 0;
    .menu-text {
      display: none;
    }
  }
  .menu {
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    .menu-item {
      margin: auto 5px;
      text-align: center;
      .menu-link {
        font-size: 1.2rem;
        .menu-title {
          font-size: 10px;
          margin: 0;
          margin-top: 2px;
          display: block;
        }
      }
    }
  }
}
