<app-breadcrumb [trace]="breadcrumb"></app-breadcrumb>
<form [formGroup]="videoForm" class="video-form">
  <!-- Action Row -->
  <div class="action-row">
    <!-- Video status -->
    <ng-container [ngSwitch]="videoForm.get('status').value">
      <ng-container *ngSwitchCase="'draft'">
        <h1 class="page-title" *ngIf="mode === 'create';else draftTitle">New</h1>
        <ng-template #draftTitle>
          <h1 class="page-title">Draft</h1>
        </ng-template>
      </ng-container>
      <h1 class="page-title" *ngSwitchCase="'published'">Published</h1>
    </ng-container>
    <!-- End of video status -->
    <div class="inner-action-wrapper">
      <!-- Publish button -->
      <button
          *ngIf="mode === 'view' && videoForm.get('status').value === 'draft'"
          (click)="publishVideo()"
          class="btn --md action-btn --publish"
          type="button"
          aria-label="Publish video">Publish</button>
      <!-- Unpublish button -->
      <button
          *ngIf="mode === 'view' && videoForm.get('status').value === 'published'"
          (click)="unpublishVideo()"
          class="btn --md action-btn --unpublish"
          type="button"
          aria-label="Unpublish video">Unpublish</button>
      <!-- Edit button -->
      <button *ngIf="mode === 'view'" (click)="onEdit()" class="action-btn --edit" type="button" aria-label="Edit video">
        <fa-icon class="action-btn --icon" [icon]="['fa', 'pen']"></fa-icon>
      </button>
      <!-- Save button -->
      <button *ngIf="mode !== 'view'" (click)="saveForm()" class="btn --md action-btn --save" type="button" aria-label="Save as draft">Save Draft</button>
      <!-- Cancel button -->
      <button *ngIf="mode !== 'view'" (click)="onCancel()" class="btn --md action-btn --sub --cancel" type="button" aria-label="Cancel">Cancel</button>
    </div>
  </div><!-- End of action row -->
  <!-- Title -->
  <div class="ctrl-row required">
    <label for="title" class="ctrl-label --title">Title</label>
    <input type="text" id="title" class="ctrl" formControlName="title" placeholder="Title">
  </div><!-- End of title -->
  <!-- URL -->
  <div class="ctrl-row required">
    <label for="url" class="ctrl-label --url">URL</label>
    <input (blur)="setVideoID()" type="text" id="url" class="ctrl" formControlName="url" placeholder="Vimeo or Youtube link...">
  </div><!-- End of url -->
  <!-- Video Preview -->
  <div class="ctrl-row --video-preview">
    <ng-container *ngIf="videoForm.get('url').value.indexOf('youtube') > -1">
      <div class="video-wrapper">
        <iframe
          class="video-player"
          width="560"
          height="315"
          frameborder="0"
          allow="accelerometer; autoplay; gyroscope; picture-in-picture"
          allowfullscreen
          [src]="youtubeLink">
        </iframe>
      </div>
    </ng-container>
    <ng-container *ngIf="videoForm.get('url').value.indexOf('vimeo') > -1">
      <div class="video-wrapper video--vimeo">
        <iframe
          class="video-player"
          width="640"
          height="360"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          [src]="vimeoLink">
        </iframe>
      </div>
    </ng-container>
  </div><!-- End of video preview -->
  <!-- Meta data: category, year, genere -->
  <div class="ctrl-row --meta-data">
    <!-- Category -->
    <div class="meta-wrapper required --category">
      <label for="category" class="ctrl-label --category">Category</label>
      <select
        id="category"
        class="ctrl"
        formControlName="categoryId"
        [ngClass]="{ 'default': videoForm.get('categoryId').value === ''}">
        <option value="">Select category</option>
        <option *ngFor="let category of categoryList" [ngValue]="category.id">{{ category.text }}</option>
      </select>
    </div><!-- End of category -->
    <!-- Year -->
    <div class="meta-wrapper required --year">
      <label for="year" class="ctrl-label --category">Year</label>
      <input maxlength="4" minlength="4" id="year" type="text" class="ctrl" formControlName="year" placeholder="Year">
    </div><!-- End of year -->
    <!-- Genre -->
    <div class="meta-wrapper required --genere">
      <label for="genere" class="ctrl-label --category">Genre</label>
      <input id="genere" type="text" class="ctrl" formControlName="genres" placeholder="Genere separated by comma">
    </div><!-- End of genere -->
  </div><!-- End of meta data -->
  <!-- Description -->
  <div class="ctrl-row required">
    <label for="description" class="ctrl-label --category">Description</label>
    <textarea id="description" class="ctrl" formControlName="description" placeholder="Description" rows="5"></textarea>
  </div><!-- End of description -->
</form>
