.ctrl-row {
  margin: 20px 0;
  &.--video-preview {
    margin-top: 3rem;
  }
}
.video-wrapper {
  text-align: center;
}
/*** Meta data section ***/
.ctrl-row.--meta-data {
  display: flex;
  justify-content: space-between;
  .meta-wrapper {
    &.--category {
      width: 25%;
      select {
        height: 42.5px;
      }
    }
    &.--year {
      width: 70px;
    }
    &.--genere {
      width: 60%;
    }
  }
}

/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  .ctrl-row.--meta-data {
    flex-wrap: wrap;
    .meta-wrapper {
      &.--category {
        select {
          height: unset;
        }
      }
      &.--category,
      &.--year {
        width: calc(50% - 10px);
      }
      &.--genere {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  .ctrl-row.--meta-data {
    flex-wrap: wrap;
    .meta-wrapper {
      &.--category {
        select {
          height: unset;
        }
      }
      &.--category,
      &.--year {
        width: calc(50% - 10px);
      }
      &.--genere {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  .ctrl-row.--meta-data {
    .meta-wrapper.--category {
      select {
        height: unset;
      }
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  .ctrl-row.--meta-data {
    flex-wrap: wrap;
    .meta-wrapper {
      &.--category {
        select {
          height: unset;
        }
      }
      &.--category,
      &.--year {
        width: calc(50% - 10px);
      }
      &.--genere {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  .ctrl-row.--meta-data {
    flex-wrap: wrap;
    .meta-wrapper {
      &.--category {
        select {
          height: unset;
        }
      }
      &.--category,
      &.--year {
        width: calc(50% - 10px);
      }
      &.--genere {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

}
