<form [formGroup]="categoryForm" class="categoryForm">
  <!-- Action Row -->
  <div class="action-row">
    <h1 class="page-title">Videos</h1>
  </div><!-- End of action row -->
  <!-- Category Section -->
  <section class="category-section">
    <!-- Category action row -->
    <div class="action-row">
      <h2 class="section-title">Categories</h2>
      <div class="inner-action-wrapper">
        <button *ngIf="mode === 'view'" (click)="onEdit()" class="action-btn --edit" type="button" aria-label="Edit">
          <fa-icon class="action-btn --icon" [icon]="['fa', 'pen']"></fa-icon>
        </button>
      </div>
    </div><!-- End of category action row -->
    <!-- New Row -->
    <div class="new-row" *ngIf="mode === 'edit'">
      <div class="ctrl-row">
        <label class="ctrl-label">New Category</label>
        <input type="text" class="ctrl" placeholder="New Category" formControlName="newCategory">
      </div>
      <button (click)="onAdd()" class="btn --md --add" type="button" aria-label="Add new category">Add</button>
    </div><!-- End of new row -->
    <!-- Categories -->
    <div class="category-container">
      <ul class="category-list" formArrayName="categories">
        <ng-container *ngFor="let category of categoryArray().controls; let i = index">
          <li *ngIf="category.get('status').value !== 'deleted'"
              class="category"
              [formGroupName]="i"
              [ngClass]="{
                'editing': mode === 'edit'
              }">
            <button
              *ngIf="mode === 'edit'"
              (click)="onRemoveCategory(i)"
              class="category-btn --remove"
              type="button"
              aria-label="remove category">
              <fa-icon class="category-icon" [icon]="['fa', 'times']"></fa-icon>
            </button>
            <fa-icon *ngIf="mode === 'view'" class="category-icon --hash" [icon]="['fa', 'hashtag']"></fa-icon>
            <span class="category-text">{{ category.get('text').value }}</span>
          </li>
        </ng-container>
      </ul>
    </div>
    <!-- Bottom action row -->
    <div *ngIf="mode === 'edit'" class="action-row --btm">
      <button (click)="saveForm()" class="btn --md action-btn --save" type="button" aria-label="Save">Save</button>
      <button (click)="onCancel()" class="btn --md action-btn --sub --cancel" type="button" aria-label="Cancel">Cancel</button>
    </div>
  </section><!-- End of category section -->
</form>
<!-- Video Section -->
<section class="video-section">
  <!-- Video statistic -->
  <div class="stats-row">
    <!-- Total published -->
    <div class="video-stats-wrapper">
      <h2 class="section-title">Total published:</h2>
      <span class="stat-detail">{{ totalPublished }}</span>
    </div><!-- End of total published -->
    <!-- Total drafts -->
    <div class="video-stats-wrapper">
      <h2 class="section-title">Total drafts:</h2>
      <span class="stat-detail">{{ totalDrafts }}</span>
    </div><!-- End of total drafts -->
    <!-- New Video Button -->
    <div class="ctrl-wrapper">
      <button
        (click)="toggleOrder()"
        class="btn --md order-video"
        [ngClass]="{
          '--sub': mode !== 'order'
        }"
        aria-label="order-video"
        type="button">{{ mode === 'view' ? 'Order Video' : 'Done' }}</button>
      <a routerLink="/videos/new" class="btn --md new-video" aria-label="New video" *ngIf="mode !== 'order'">New Video</a>
    </div><!-- End of ctrl-wrapper -->
  </div><!-- End of video statistic -->
  <!-- Filter row -->
  <div class="filter-row">
    <!-- Video type menu -->
    <div class="filter-wrapper ctrl-row">
      <label for="videoType" class="ctrl-label">Show</label>
      <select name="videoType" id="videoType" class="ctrl menu --type" (change)="filterVideo()" [(ngModel)]="videoTypeSelection">
        <option value="all" class="video-option">All</option>
        <option value="published" class="video-option">Published</option>
        <option value="draft" class="video-option">Draft</option>
      </select>
    </div><!-- End of video type menu -->
    <!-- Video category menu -->
    <div class="filter-wrapper ctrl-row">
      <label for="videoType" class="ctrl-label">Category</label>
      <select name="videoType" id="videoType" class="ctrl menu --category" (change)="filterVideo()" [(ngModel)]="videoCategorySelection">
        <option value="all" class="video-option">All</option>
        <option *ngFor="let videoCat of categoryArray().controls"
                [ngValue]="videoCat.get('categoryId').value"
                class="video-option">{{ videoCat.get('text').value }}</option>
      </select>
    </div><!-- End of video type menu -->
  </div><!-- End of filter row -->
  <div
    class="video-list"
    [ngClass]="{
      'ordering': mode === 'order'
    }"
    cdkDropListOrientation="horizontal"
    cdkDropList
    (cdkDropListDropped)="onDrop($event)">
    <mgt-card
      class="video-card"
      *ngFor="let video of filteredVideolist;let i = index"
      [data]="video"
      cdkDrag
      [canNavigate]="mode !== 'order'"
      (cdkDragStarted)="onDragStarted($event, i)"
      [cdkDragDisabled]="mode === 'view'"></mgt-card>
  </div>
</section><!-- End of video section -->
