$mainColor: #4E413B;
$lightMainColor: #A67665;
$gradientFrom: #2f5286;
$gradientTo: #060e19;
$white: #eee;
$red: #c34e42;
$lightRed: #db948d;
$green: #3fbf76;
$lightGreen: #8bd8ac;
$orange: #f39c12;
$lightOrange: #f7c370;

$actionColor: #6DB2AE;
$actionColorLight: #ADDBD8;
$actionColorDark: #39BBB3;
$menuColor: #D9B29C;
$menuTitleColor: #A67665;
