<form class="role-form" [formGroup]="roleForm">
  <!-- Action Row -->
  <div class="action-row">
    <h1 class="page-title">Roles</h1>
    <div class="inner-action-wrapper">
      <button class="action-btn" *ngIf="mode === 'view'" (click)="onEdit()" class="action-btn --edit" type="button" aria-label="Edit">
        <fa-icon class="action-btn --icon" [icon]="['fa', 'pen']"></fa-icon>
      </button>
      <button *ngIf="mode === 'edit'" (click)="saveForm()" class="btn --md action-btn --save" type="button" aria-label="Save">Save</button>
      <button *ngIf="mode === 'edit'" (click)="onCancel()" class="btn --md action-btn --cancel" type="button" aria-label="Save">Cancel</button>
    </div>
  </div><!-- End of action row -->
  <!-- New Wrapper -->
  <div class="new-wrapper">
    <button *ngIf="mode === 'edit'" class="new-btn" type="button" aria-label="add role" (click)="addRole()">
      <fa-icon class="new-btn-icon" [icon]="['fa', 'plus-circle']"></fa-icon>
      <span class="new-btn-text">Add Role</span>
    </button>
  </div><!-- End of new wrapper -->
  <!-- Role Section -->
  <section class="role-section" formArrayName="roles">
    <div class="role-wrapper" *ngFor="let role of roleForm.get('roles').controls;let i = index">
      <button *ngIf="mode !== 'view'" class="remove-btn" type="button" aria-label="remove role" (click)="onRemoveRole(i)">
        <fa-icon [icon]="['fa', 'times']"></fa-icon>
      </button>
      <div class="ctrl-row --title" [formGroupName]="i">
        <label [for]="'title' + i" class="ctrl-label">Title</label>
        <input (change)="onRoleTextUpdate(i)" [id]="'title' + i" type="text" class="ctrl" formControlName="title">
      </div>
      <div class="ctrl-row-wrapper" [formGroupName]="i">
        <div class="ctrl-row">
          <label [for]="'desc' + i" class="ctrl-label">Description</label>
          <textarea (change)="onRoleTextUpdate(i)" [id]="'desc' + i" cols="30" rows="10" class="ctrl" placeholder="Description" formControlName="introduction"></textarea>
        </div>
        <div class="img-wrapper" formArrayName="images">
          <button
            *ngFor="let image of role.get('images').controls;let j = index"
            [formGroupName]="j"
            class="inner-img-wrapper"
            type="button"
            aria-label="role image 1"
            [ngClass]="{ 'empty': !image.get('imgData').value }">
            <input #file (change)="onImgSelected(i, j, file.files)" type="file" class="upload-ctrl" title="" formControlName="imgName" accept="image/png, image/jpeg, .gif">
            <span *ngIf="!image.get('imgData').value" class="upload-hint">Add image</span>
            <img
              class="role-img"
              *ngIf="image.get('imgData').value"
              [src]="image.get('imgData').value"
              [alt]="role.get('title').value + ' image ' + (j+1)"
              [title]="role.get('title').value + ' image ' + (j+1)">
          </button>
        </div>
      </div>
    </div>
  </section>
</form>
