/*** Article title ***/
.article-title {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
}
.new-btn {
  display: flex;
  cursor: pointer;
  outline: none;
  color: #555;
  .new-btn-icon {
    margin: auto 0;
    margin-right: 5px;
    font-size: 1.8rem;
  }
  .new-btn-text {
    font-size: 1.2rem;
    margin: auto 0;
    display: block;
  }
}
.ctrl-row {
  margin: 20px 0;
}
/*** Paragraph section ***/
::ng-deep {
  .paragraph {
    margin-bottom: 10px;
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){

}
