@import '../../shared/color.scss';

.profile-section {
  display: flex;
  align-items: center;
  .profile-avatar {
    flex: 2;
    margin-right: 40px;
  }
  .profile-detail {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ctrl-row {
      width: calc(50% - 20px);
      margin: 20px 0;
    }
  }
}
/* Avatar Section */
.profile-avatar {
  text-align: center;
}
.upload-avatar {
  width: 100%;
  border: 2px solid #888;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  &.fixed-height {
    height: 260px;
  }
  &.disabled {
    cursor: default;
    .avatar-ctrl {
      cursor: default;
    }
  }
  .avatar-ctrl {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
  .--placeholder {
    font-size: 12rem;
    color: gray;
    display: block;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .--img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}
.ctrl-row {
  .ctrl {
    margin-top: 5px;
  }
}
/* Upload */
.upload-wrapper {
  position: relative;
  background: white;
  display: flex;
  &.disabled {
    .--upload-ctrl {
      cursor: default;
    }
  }
  .upload-icon {
    margin-left: auto;
    color: gray;
  }
  .--upload-ctrl {
    opacity: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
}
/*** Social Section ***/
.social-section {
  margin-top: 3rem;
}
.social-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  .ctrl-label.--social {
    order: 1;
    width: 100%;
  }
  .ctrl.--social {
    order: 2;
    flex: 5;
    margin-right: 60px;
    margin-right: 4rem;
  }
  .toggler {
    order: 3;
    flex: 2;
    margin: auto 0;
  }
}
/*** About section ***/
.about-section {
  margin-top: 3rem;
  .about-row {
    margin: 20px 0;
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){
  .profile-section {
    display: block;
    .profile-avatar {
      flex: 1;
      margin-right: 0;
    }
    .profile-detail {
      margin-top: 1rem;
      .ctrl-row {
        margin: 10px 0;
      }
    }
  }
  .upload-avatar {
    width: 60%;
    &.fixed-height {
      height: 284px;
    }
    .--img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .--placeholder {
      font-size: 12rem;
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
  .profile-section {
    display: block;
    .profile-avatar {
      margin-right: 0;
    }
    .profile-detail {
      margin-top: 1rem;
      .ctrl-row {
        margin: 10px 0;
      }
    }
  }
  .upload-avatar {
    width: 60%;
    &.fixed-height {
      height: 260px;
    }
    .--img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .--placeholder {
      font-size: 12rem;
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  .profile-section {
    display: block;
    margin-top: 1rem;
    .profile-avatar {
      margin-right: 0;
    }
    .profile-detail {
      margin-top: 1rem;
      .ctrl-row {
        margin: 10px 0;
      }
    }
  }
  .upload-avatar {
    width: 80%;
    &.fixed-height {
      height: 245px;
    }
    .--img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .--placeholder {
      font-size: 11rem;
    }
  }
  .social-row {
    .ctrl.--social {
      margin-right: 1rem;
    }
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  .profile-section {
    display: block;
    margin-top: 1rem;
    .profile-avatar {
      margin-right: 0;
    }
    .profile-detail {
      margin-top: 1rem;
      .ctrl-row {
        margin: 10px 0;
        width: 100%;
      }
    }
  }
  .upload-avatar {
    width: 80%;
    &.fixed-height {
      height: 200px;
    }
    .--img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .--placeholder {
      font-size: 9rem;
    }
  }
  .social-row {
    .ctrl-label.--social {
      flex: 2;
      margin: auto 0;
    }
    .toggler {
      order: 2;
      flex: 1;
    }
    .ctrl.--social {
      order: 3;
      flex: unset;
      width: 100%;
      margin-right: 0;
    }
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  .profile-section {
    .profile-detail {
      .ctrl-row {
        margin: 10px 0;
      }
    }
  }
  .upload-avatar {
    &.fixed-height {
      height: 220px;
    }
    .--placeholder {
      font-size: 10rem;
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait) {
  .profile-section {
    display: block;
    margin-top: 1rem;
    .profile-avatar {
      margin-right: 0;
    }
    .profile-detail {
      margin-top: 1rem;
      .ctrl-row {
        margin: 10px 0;
        width: 100%;
      }
    }
  }
  .upload-avatar {
    width: 80%;
    &.fixed-height {
      height: 245px;
    }
    .--img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .--placeholder {
      font-size: 12rem;
    }
  }
  .social-section {
    margin-top: 2rem;
  }
  .social-row {
    .ctrl-label.--social {
      flex: 2;
      margin: auto 0;
    }
    .ctrl.--social {
      margin-top: 10px;
    }
    .toggler {
      order: 2;
      flex: 1;
    }
    .ctrl.--social {
      order: 3;
      flex: unset;
      width: 100%;
      margin-right: 0;
    }
  }
  .about-section {
    margin-top: 2rem;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait) {
  .profile-section {
    display: block;
    margin-top: 1rem;
    .profile-avatar {
      margin-right: 0;
    }
    .profile-detail {
      margin-top: 1rem;
      .ctrl-row {
        margin: 10px 0;
        width: 100%;
      }
    }
  }
  .upload-avatar {
    width: 100%;
    &.fixed-height {
      height: 200px;
    }
    .--img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .--placeholder {
      font-size: 9rem;
    }
  }
  .social-section {
    margin-top: 2rem;
  }
  .social-row {
    .ctrl-label.--social {
      flex: 3;
      margin: auto 0;
    }
    .toggler {
      order: 2;
      flex: 1;
    }
    .ctrl.--social {
      order: 3;
      flex: unset;
      width: 100%;
      margin-right: 0;
    }
  }
  .about-section {
    margin-top: 2rem;
  }
}
