<form class="profile-form" [formGroup]="profileForm" enctype="multipart/form-data">
  <!-- Action Row -->
  <div class="action-row">
    <h1 class="page-title">Profile</h1>
    <div class="inner-action-wrapper">
      <button *ngIf="mode === 'view'" (click)="onEdit()" class="action-btn --edit" type="button" aria-label="Edit">
        <fa-icon class="action-btn --icon" [icon]="['fa', 'pen']"></fa-icon>
      </button>
      <button *ngIf="mode === 'edit'" (click)="saveForm()" class="btn --md action-btn --save" type="button" aria-label="Save">Save</button>
      <button *ngIf="mode === 'edit'" (click)="onCancel()" class="btn --md action-btn --sub --cancel" type="button" aria-label="Cancel">Cancel</button>
    </div>
  </div><!-- End of action row -->
  <!-- Profile Section -->
  <section class="profile-section">
    <!-- Avatar -->
    <div class="profile-avatar">
      <button
        class="upload-avatar"
        type="button"
        aria-label="Upload profile picture"
        [ngClass]="{ 'fixed-height': !profileForm.get('profileLink').value,
                     'disabled': profileForm.get('profileLink').disabled }">
        <input #profileImg (change)="onImgSelected(profileImg.files)" title="" class="avatar-ctrl" type="file" accept="image/png, image/jpeg" formControlName="profileImg">
        <fa-icon
          *ngIf="!profileForm.get('profileLink').value"
          class="avatar --placeholder"
          [icon]="['fa', 'user-alt']"
          aria-label="avatar icon">
        </fa-icon>
        <img
          *ngIf="profileForm.get('profileLink').value"
          [src]="profileForm.get('profileLink').value"
          class="avatar --img"
          alt="profile picture">
      </button>
    </div><!-- End of avatar -->
    <!-- Profile Detail -->
    <div class="profile-detail">
      <!-- Firstname -->
      <div class="ctrl-row required">
        <label for="firstname" class="ctrl-label --profile">Firstname</label>
        <input type="text" id="firstname" class="ctrl profile" formControlName="firstname">
      </div><!-- End of firstname -->
      <!-- Lastname -->
      <div class="ctrl-row required">
        <label for="lastname" class="ctrl-label --profile">Lastname</label>
        <input type="text" id="lastname" class="ctrl profile" formControlName="lastname">
      </div><!-- End of lastname -->
      <!-- Email -->
      <div class="ctrl-row required">
        <label for="email" class="ctrl-label --profile">E-mail</label>
        <input type="text" id="email" class="ctrl profile" formControlName="email">
      </div><!-- End of email -->
      <!-- Resume Link -->
      <div class="ctrl-row required">
        <label for="resumeLink" class="ctrl-label --profile">Resume</label>
        <a *ngIf="profileForm.get('resume').value" [href]="profileForm.get('resume').value" target="_blank" class="resume-link">Resume.pdf</a>
        <div class="upload-wrapper input ctrl profile" [ngClass]="{ 'disabled': profileForm.get('resumeLink').disabled }">
          <span class="filename">{{ filename }}</span>
          <fa-icon class="upload-icon" [icon]="['fa','upload']"></fa-icon>
          <input (change)="onFileUpload($event.target.files)" type="file" id="resumeLink" class="--upload-ctrl" formControlName="resumeLink" accept=".pdf">
        </div>
      </div><!-- End of resume link -->
    </div><!-- End of profile detail -->
  </section><!-- End of profile section -->

  <!-- Social Section -->
  <section class="social-section">
    <!-- Facebook Setting -->
    <div class="social-row required">
      <label for="facebook" class="ctrl-label --social">Facebook profile link</label>
      <label class="toggler">
        <input type="checkbox" class="toggler-ctrl" formControlName="facebookEnable">
        <span class="slider"></span>
      </label>
      <input id="facebook" type="text" class="ctrl --social" formControlName="facebookLink">
    </div><!-- End of facebook setting -->
    <!-- Vimeo Setting -->
    <div class="social-row">
      <label for="vimeo" class="ctrl-label --social">Vimeo profile link</label>
      <label class="toggler">
        <input type="checkbox" class="toggler-ctrl" formControlName="vimeoEnable">
        <span class="slider"></span>
      </label>
      <input id="vimeo" type="text" class="ctrl --social" formControlName="vimeoLink">
    </div><!-- End of vimeo setting -->
    <!-- Youtube Setting -->
    <div class="social-row">
      <label for="youtube" class="ctrl-label --social">Youtube profile link</label>
      <label class="toggler">
        <input type="checkbox" class="toggler-ctrl" formControlName="youtubeEnable">
        <span class="slider"></span>
      </label>
      <input id="youtube" type="text" class="ctrl --social" formControlName="youtubeLink">
    </div><!-- End of youtube setting -->
    <!-- Instagram Setting -->
    <div class="social-row">
      <label for="instagram" class="ctrl-label --social">Instagram profile link</label>
      <label class="toggler">
        <input type="checkbox" class="toggler-ctrl" formControlName="instagramEnable">
        <span class="slider"></span>
      </label>
      <input id="instagram" type="text" class="ctrl --social" formControlName="instagramLink">
    </div><!-- End of instagram setting -->
  </section><!-- End of social section -->
  <!-- About Section -->
  <section class="about-section">
    <!-- Introduction -->
    <div class="about-row required">
      <label for="intro" class="ctrl-label">Introduction</label>
      <textarea id="intro" cols="30" rows="5" class="ctrl --about" placeholder="Introduction" formControlName="intro"></textarea>
    </div><!-- End of introduction -->
    <!-- Contact me -->
    <div class="about-row required">
      <label for="contact" class="ctrl-label">Contact me</label>
      <textarea id="contact" cols="30" rows="5" class="ctrl --about" placeholder="Contact me text" formControlName="contactMe"></textarea>
    </div><!-- End of contact me -->
  </section><!-- End of about section -->
</form>
