@import '../../shared/color.scss';

.action-row {
  display: flex;
  margin-top: 20px;
  min-height: 40px;
  .action-btn {
    margin-left: auto;
    &.--icon {
      font-size: 1.4rem;
      color: $mainColor;
      cursor: pointer;
      &:hover {
        font-size: 1.6rem;
      }
    }
  }
}
.profile-section {
  display: flex;
  align-items: center;
  .profile-avatar {
    flex: 2;
    margin-right: 40px;
  }
  .profile-detail {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ctrl-row {
      width: calc(50% - 20px);
      margin: 10px 0;
    }
  }
}
/* Avatar Section */
.profile-avatar {
  text-align: center;
}
.upload-avatar {
  height: 285px;
  width: 100%;
  border: 2px solid #888;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  .avatar-ctrl {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .--placeholder {
    font-size: 13rem;
    color: gray;
    display: block;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .--img {
    height: 100%;
    max-height: 100%;
  }
}
.ctrl-row {
  .ctrl {
    margin-top: 5px;
  }
}
/* Upload */
.upload-wrapper {
  position: relative;
  background: white;
  display: flex;
  .upload-icon {
    margin-left: auto;
    color: gray;
  }
  .--upload-ctrl {
    opacity: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
}
