@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import './shared/color.scss';

* {
  font-family: 'Roboto Slab', serif;
}


body {
  margin: 0;
}

input,
.input,
textarea {
  padding: 8px 10px;
  border: 2px solid #888;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}
.input {
  &.disabled {
    background-color: rgb(235, 235, 228) !important;
  }
}
textarea {
  resize: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  min-width: unset;
}
.btn {
  padding: 8px 10px;
  background: none;
  border: 2px solid #888;
  min-width: 150px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
  &.--md {
    min-width: 80px;
  }
  &:hover,
  &:active {
    background: $mainColor;
    color: white;
    border: 2px solid $mainColor;
  }
}
/*** Toggler ***/
.toggler {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
  border-radius: 40px;
  user-select: none;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    user-select: none;
  }
  /* The slider */
  .slider {
    user-select: none;
    outline: none;
    position: absolute;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $lightMainColor;
    transition: .5s ease-in-out;
    border-radius: 40px;
    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 100%;
      transition: .5s ease-in-out;
    }
    &:after {
      user-select: none;
      outline: none;
      content: 'Disable';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: white;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }

  input:checked + .slider {
    background-color: $mainColor;
  }
  input:disabled +.slider {
    opacity: .8;
    cursor: default;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $mainColor;
  }
  input:checked + .slider:before {
    left: calc(100% - 30px);
  }
  input:checked + .slider:after {
    content: 'Enable';
  }
}
.ctrl-label {
  text-transform: capitalize;
}

/*** Required label ***/
.required label:after {
  content: '*';
}
/*** Page Layout ***/
.layout {
  display: flex;
  position: relative;
  .content-wrapper {
    flex: 1;
    background-color: #efefef;
    color: #333;
    .main-content {
      min-height: 100vh;
    }
  }
}
/*** Action Row ***/
.action-row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  min-height: 40px;
  .page-title {
    margin: auto 0;
  }
  .inner-action-wrapper {
    margin-left: auto;
    display: flex;
  }
  .action-btn {
    margin: auto 10px;
    &:last-child {
      margin-right: 0;
    }
    &.--icon {
      font-size: 1.4rem;
      color: $mainColor;
      cursor: pointer;
      &:hover {
        font-size: 1.6rem;
      }
    }
  }
}
/*** Section Title ***/
.section-title {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-top: 2rem;
}

/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 30px 20px;
        padding-top: 0;
        width: 80%;
        max-width: 1200px;
        margin: auto;
      }
    }
  }

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }
  input,
  .input,
  textarea {
    padding: 5px 8px;
    font-size: 1rem;
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 15px;
        padding-top: 0;
      }
    }
  }
  input,
  .input,
  textarea {
    padding: 5px 8px;
    font-size: 14px;
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  input,
  .input,
  textarea {
    padding: 5px 8px;
    font-size: 14px;
  }
  .btn {
    min-width: 100px;
    padding: 5px 8px;
    font-size: 16px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px;
        padding-top: 0;
      }
    }
  }
  .toggler {
    .slider:after {
      margin-left: 10px;
    }
    input:checked + .slider:after {
      margin-right: 10px;
      margin-left: 0;
    }
  }
  .action-row {
    .action-btn {
      margin: auto 5px;
    }
  }
  .section-title {
    font-size: 1.3rem;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  input,
  .input,
  textarea {
    padding: 5px 8px;
    font-size: 14px;
  }
  .btn {
    min-width: 100px;
    padding: 5px 8px;
    font-size: 16px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px;
        padding-top: 0;
      }
    }
  }
  .toggler {
    height: 25px;
    .slider:before {
      width: 18px;
      height: 18px;
      bottom: 3px;
    }
    .slider:after {
      content: '';
      justify-content: right;
      left: unset;
      right: 10px;
      font-size: 0.9rem;
    }
    input:checked + .slider:after {
      content: '';
      justify-content: left;
      left: 15px;
    }
    input:checked + .slider:before {
      left: calc(100% - 22px);
    }
  }
  .action-row {
    display: block;
    .inner-action-wrapper {
      display: block;
      text-align: right;
    }
    .action-btn {
      margin: auto 5px;
    }
  }
  .section-title {
    font-size: 1.3rem;
    margin: 10px 0;
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){
  input {
    font-size: 2rem;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }
}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){
  input,
  .input,
  textarea {
    padding: 5px 8px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }
  .action-row {
    .action-btn {
      font-size: 1.5rem;
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  input,
  .input,
  textarea {
    padding: 5px 8px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 15px;
        padding-top: 0;
      }
    }
  }

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  input,
  .input,
  textarea {
    padding: 5px 8px;
    font-size: 14px;
  }
  textarea {
    height: 200px;
  }
  .btn {
    min-width: 150px;
    padding: 5px 8px;
  }
  .ctrl-label {
    font-size: 1.1rem;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px;
        padding-top: 0;
      }
    }
  }
  .action-row {
    .action-btn {
      margin: auto 5px;
    }
  }
  .section-title {
    font-size: 1.3rem;
    margin: 10px 0;
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  input,
  .input,
  textarea {
    padding: 5px 8px;
    font-size: 14px;
  }
  textarea {
    height: 250px;
  }
  .btn {
    min-width: 100px;
    padding: 5px 8px;
    font-size: 16px;
  }
  .toggler {
    height: 30px;
    .slider:before {
      width: 25px;
      height: 25px;
      bottom: 3px;
    }
    .slider:after {
      font-size: 0.9rem;
      content: '';
    }
    input:checked + .slider:before {
      left: calc(100% - 29px);
    }
    input:checked + .slider:after {
      content: '';
    }
  }
  .layout {
    .content-wrapper {
      min-height: 105vh;
      .main-content {
        padding: 0 10px;
      }
    }
  }
  .action-row {
    .action-btn {
      margin: auto 5px;
    }
  }
  .section-title {
    font-size: 1.3rem;
    margin: 20px 0;
  }
}
