@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import './shared/color.scss';

* {
  font-family: 'Roboto Slab', serif;
}


body {
  margin: 0;
}

input {
  padding: 8px 10px;
  border: 2px solid #888;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  min-width: unset;
}
.btn {
  padding: 8px 10px;
  background: none;
  border: 2px solid #888;
  min-width: 150px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
  &:hover,
  &:active {
    background: $mainColor;
    color: white;
    border: 2px solid $mainColor;
  }
}
/*** Page Layout ***/
.layout {
  display: flex;
  position: relative;
  .content-wrapper {
    flex: 1;
    background-color: #efefef;
    color: #333;
  }
}
/*--------- Landscape Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: landscape){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }

}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: landscape){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }

}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 15px;
        padding-top: 0;
      }
    }
  }
}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  input {
    padding: 5px 8px;
    font-size: 14px;
  }
  .btn {
    min-width: 100px;
    padding: 5px 8px;
    font-size: 16px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px;
        padding-top: 0;
      }
    }
  }
}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: landscape){
  input {
    padding: 5px 8px;
    font-size: 14px;
  }
  .btn {
    min-width: 100px;
    padding: 5px 8px;
    font-size: 16px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px;
        padding-top: 0;
      }
    }
  }
}
/*--------- Portrait Devices ---------*/
/***** LG Devices *****/
@media (min-width: 1200px) and (orientation: portrait){
  input, .btn {
    font-size: 2rem;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }
}
/***** MD Devices*****/
@media (min-width: 993px) and (max-width: 1199px) and (orientation: portrait){
  input, .btn {
    font-size: 2rem;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 20px;
        padding-top: 0;
      }
    }
  }
}
/***** SM Devices *****/
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px 15px;
        padding-top: 0;
      }
    }
  }

}
/***** XS Devices *****/
@media (min-width: 480px) and (max-width: 767px) and (orientation: portrait){
  input {
    padding: 5px 8px;
  }
  .btn {
    min-width: 150px;
    padding: 5px 8px;
  }
  .layout {
    .content-wrapper {
      .main-content {
        padding: 10px;
        padding-top: 0;
      }
    }
  }

}
/***** XXS Devices *****/
@media (max-width: 479px) and (orientation: portrait){
  input {
    padding: 5px 8px;
    font-size: 14px;
  }
  .btn {
    min-width: 100px;
    padding: 5px 8px;
    font-size: 16px;
  }
  .layout {
    .content-wrapper {
      min-height: 105vh;
      .main-content {
        padding: 0 10px;
      }
    }
  }
}
